@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Global Styles */
:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --white-color: #fff;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: rgb(21, 32, 43);
  color: #fff;
}

a {
  color: var(--white-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utility classes */
.app {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 50%;
  height: 100%;
  margin-top: 1rem;
  padding-top: 1rem;
  margin: 0 auto;
}

.main-container {
  width: 100%;
  height: 60px;
}

.current {
  color: rgb(129, 129, 255);
}

.btn-link {
  border-radius: 20px;
  transition: all 0.1s ease-in;
}

.btn-link:hover {
  background: rgb(33, 50, 68);
  color: rgb(129, 129, 255);
}

.btn-link:hover > .circle {
  border-color: rgb(129, 129, 255);
}

.btn {
  background: rgb(133, 133, 224);
  color: #fff;
  transition: background 0.2s ease-in;
}

.btn:hover {
  background: rgb(106, 106, 179);
  color: #fff;
}

.btn-l {
  padding: 0.6rem 4rem;
}

.btn-m {
  padding: 0.75rem;
  font-size: 1.2rem;
}

.btn-s {
  padding: 0.3rem 1rem;
}

.icon {
  font-size: 2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  transition: all 0.1s ease-in;
  border-radius: 50%;
}

.icon:hover {
  background: rgb(33, 50, 68);
  color: #fff;
}

.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* Section Header */
.header {
  width: 25%;
  height: 100vh;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
}

.menu {
  margin: 1.5rem 0;
}

.menu-item {
  margin-bottom: 1rem;
}

.menu-item a i {
  margin-right: 1rem;
  padding: 0.5rem;
}

.circle {
  border: 1px solid #fff;
  border-radius: 50%;
}

/* Section Main */
/* Navbar */
.main {
  width: 45%;
  height: 100vh;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  border-width: thin;
  display: inline-block;
  position: relative;
  left: 25%;
  overflow: hidden;
}

.main .nav {
  margin: 0 auto;
  align-items: center;
  position: fixed;
  top: 0;
  left: 25%;
  right: 30%;
  height: 60px;
  background: rgb(21, 32, 43);
  border: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 1;
}

.navbar {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar span {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar i {
  font-size: 1.5rem;
  color: rgb(129, 129, 255);
}

/* Section Post */
.post {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  width: 100%;
  height: 120px;
  padding-top: 1rem;
  border-bottom: 10px solid rgba(255, 255, 255, 0.15);
}

.post .img {
  flex: 1;
  text-align: center;
}

.post .img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post .share {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.post .input {
  width: 100%;
  height: 100%;
  flex: 1;
}

.post .input input {
  width: 100%;
  background: rgb(21, 32, 43);
  outline: none;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  color: #f4f4f4;
}

.post .share-tools {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post .share-tools .share-items {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.post .share-tools .share-items i {
  color: rgb(129, 129, 255);
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0.7rem;
  border-radius: 50%;
  transition: background 0.2s ease-in;
}

.post .share-tools .share-items i:hover {
  background: rgb(33, 50, 68);
}

.post .share-tools .share-button {
  margin-right: 1rem;
}

.trend {
  width: 30%;
  height: 100vh;
}

/* Section posted */
.lifecycle {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 180px;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
}

.lifecycle ul {
  width: 100%;
  height: 100%;
}

.lifecycle ul li {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  transition: background 0.1s ease-in;
  cursor: pointer;
}

.lifecycle ul li:hover {
  background: rgb(28, 42, 56);
}

.lifecycle .posted {
  display: flex;
  justify-content: space-between;
}

.posted .img {
  flex: 1;
  text-align: center;
}

.posted .img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.lifecycle .posted .shared {
  flex: 6;
}

.lifecycle .posted .shared .user-items a {
  font-weight: bold;
}

.lifecycle .posted .shared .user-items span {
  color: #ccc;
}

.lifecycle .posted .shared .user-items a:hover {
  color: #fff;
  text-decoration: underline;
}

.posted .shared-tools {
  margin: 0.5rem 0;
}

.posted .shared-tools .shared-items {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.posted .shared-tools .shared-items i {
  color: rgb(129, 129, 255);
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0.7rem;
  border-radius: 50%;
  transition: background 0.2s ease-in;
}

.posted .shared-tools .shared-items i:hover {
  background: rgb(33, 50, 68);
}

/* Section : Trend */
.trend {
  position: fixed;
  top: 0;
  left: 70%;
  padding: 1.5rem;
}

.trend .search i {
  color: rgb(80, 119, 161);
}

.trend input {
  width: 100%;
  height: 45px;
  font-size: 1rem;
  background: rgb(33, 50, 68);
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 30px;
  color: #fff;
  margin-bottom: 1rem;
}

.trend .trends {
  width: 100%;
  height: 50px;
  background: rgb(33, 50, 68);
  margin-bottom: 1rem;
  border-radius: 30px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.7rem 0 0 1rem;
}

.trend .people {
  width: 100%;
  height: 370px;
  background: rgb(33, 50, 68);
  border-radius: 30px;
  color: #fff;
}

.trend .people .title {
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.7rem 0 0 1rem;
}

.trend .people .users ul li {
  cursor: pointer;
  transition: background 0.1s ease-in;
}

.trend .people .users ul li:hover {
  background: rgb(38, 57, 75);
}

.trend .people .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
}

.trend .people .user img {
  margin-right: 1rem;
}

.trend .people .user .user-info {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.trend .people .user a {
  height: 100%;
}

.trend .people .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.trend .people .users .more {
  margin-left: 1rem;
  padding-top: 1rem;
  cursor: pointer;
}

.trend .people .users .more a {
  color: rgb(80, 119, 161);
}

/* Registration & Login Page */
.auth {
  background: #fff;
  width: 100%;
  height: 100vh;
}

.auth .form {
  width: 500px;
  padding: 8% 0 0;
  margin: 0 auto;
  text-align: center;
}

.auth .form i {
  font-size: 3rem;
  color: rgb(129, 129, 255);
}

.auth .form h2 {
  color: black;
  font-family: "Roboto", sans-serif;
}

.auth .form .form-group {
  text-align: left;
}

.auth .form label {
  color: rgb(141, 141, 221);
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 2px solid gray;
}

.form input[type="submit"] {
  font-size: 1.2rem;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
